body{
	margin: 0px;
	padding: 0px;
	background-color: #eef1ec;
}
header, footer{
	background-color: #ccc;
}
.logo{
	margin-top: 10px;
	margin-bottom: 10px;
}
.logo a{
	text-decoration: none;
}
.logo a>span{
	font-size: 18px;
	color: slategrey;
	margin-left: -20px;
}
.nav{
	margin-top: 25px;
}
.nav>li>a{
	padding: 10px 30px;
	color: #333;
	text-transform: uppercase;
}
main{
	min-height: 500px;
}
.info{
	border-right: 1px solid #333;
	margin-bottom: 30px;
}
address a, address a:hover{
	color: #333;
}
.location, .cell, .mail{
	position: relative;
	padding-left: 40px;
}
.location{
	margin-top: 10px;
}
.location::before{
	content: url('images/marker.png');
	position: absolute;
	top: 15px;
	left: 0;
}
.cell::before{
	content: url('images/phone.png');
	position: absolute;
	top: -5px;
	left: 0;
}
.mail{
	padding-top: 5px;
}
.mail::before{
	content: url('images/mail.png');
	position: absolute;
	top: 0;
	left: 0;
}
.slider{
	text-align: center;
}
.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
	margin-top: 20px;
}

.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
}

.rslides li:first-child {
	position: relative;
	display: block;
	float: left;
}

.rslides img {
	display: block;
	height: auto;
	float: left;
	width: 100%;
	border: 0;
}
.rslides_tabs{
	display: inline-block;
	margin: 0 auto;
	list-style: none;
	padding-left: 0px;
	background-color: #ccc;
	margin-top: 10px;
	border: 1px solid #222;
	border-radius: 20px;
}
.rslides_tabs li{
	float: left;
}
.rslides_tabs li>a{
	color: #333;
	padding: 3px 15px;
}
.rslides_tabs li:hover{
	background-color: #fff;
}
.rslides_tabs li:first-child:hover{
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}
.rslides_tabs li:last-child:hover{
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}
.slide{
	position: relative;
}
.footer_nav .nav>li>a{
	padding: 10px 10px;
}
.footer_nav .nav>li:nth-child(4n)>a{
	margin-right: 30px;
	margin-left: 25px;
}
.footer_nav .nav>li>a:hover{
	background-color: #fff;
}
.footer_nav{
	border-right: 1px solid #333;
}
.footer_nav .nav{
	margin-top: 40px;
	margin-bottom: 55px;
	margin-left: 50px;
}
blockquote{
	border-left: none;
	margin: 35px 0px 20px;
}
hr{
	background-color: #333;
}
.banner img{
	margin-top: 20px;
	width: 100%;
}
.tires, .oils{
	background-color: #fff;
	margin-bottom: 50px;
	margin-top: 20px;
}
.tires h4, .oils h4{
	color: #ccc;
}
.partners{
	padding-left: 0px;
}
.price{
	display: inline-block;
	font-size: 18px;
	font-weight: bold;
}
.price_file{
	display: inline-block;
	margin-bottom: 30px;
	padding: 10px 10px;
	color: #333;
	font-size: 16px;
	border: 2px solid #ccc;
	border-radius: 10px;
	background-color: #ccc;
}
.price_file:hover{
	color: #000;
	background-color: #fff;
	text-decoration: none;
}
.autoparts{
	padding-left: 0px;
	font-size: 16px;
}
.companies{
	margin-right: 15px;
}
.companies img{
	display: inline-block;
	width: 100px;
	height: 100px;
	margin-top: 0px;
}
footer{
	margin-top: 20px;
}
footer .container{
	padding-top: 30px;
}
.tires_cover, .oils_cover, .parts_cover{
	margin-top: 20px;
	background-color: #fff;
}
.cover{
	width: 100%;
	padding: 15px 0px;
}
#map{
	margin-top: 20px;
	width: 100%;
	height: 400px;
}
.services{
	margin-top: 20px;
	background-color: #fff;
}
.services img{
	margin-top: 20px;
	width: 100%;
}
.services ul>li{
	font-size: 16px;
	padding: 10px 0px;
	color: #333;
	list-style: none;
	position: relative;
}
.services ul>li::before{
	background-image: url('images/point.png');
	background-size: 15px 15px;
	background-repeat: no-repeat;
	display: inline-block;
	width: 15px;
	height: 14px;
	content: "";
}
.first_news{
	margin-top: 20px;
}
.first_news img, .second_news img, .third_news img{
	width: 100%;
	position: relative;
}
.first_news a{
	position: absolute;
	bottom: 0;
	right: 15px;
	padding: 15px 20px;
	margin-bottom: 10px;
	margin-right: 10px;
	color: #fff;
	text-decoration: none;
}
.first_news a:hover{
	background-color: #ccc;
	color: #333;
	border-radius: 20px;
	text-decoration: none;
}
.second_news, .third_news{
	padding: 10px;
	margin-top: 20px;
	background-color: #fff;
}
.second_news a, .third_news a{
	color: #333;
	text-decoration: underline;
	padding: 10px;
	display: inline-block;
}
.second_news a:hover, .third_news a:hover{
	background-color: #ccc;
	color: #fff;
	border-radius: 20px;
}
.centered-btns_nav.next {
	left: auto;
	background-position: right top;
	right: 15px;
}
.centered-btns_nav {
	z-index: 3;
	position: absolute;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	top: 50%;
	left: 15px;
	opacity: 0.7;
	text-indent: -9999px;
	overflow: hidden;
	text-decoration: none;
	height: 61px;
	width: 38px;
	background: transparent url("themes.gif") no-repeat left top;
	margin-top: -45px;
}
.caption {
	display: block;
	position: absolute;
	z-index: 2;
	font-size: 24px;
	text-shadow: none;
	color: #fff;
	background: #000;
	background: rgba(0,0,0, .8);
	left: 0;
	right: 0;
	bottom: 0;
	padding: 10px 20px;
	margin: 0;
	max-width: none;
}
@media only screen and (max-width : 640px){
	.nav>li:first-child{
		display: none;
	}
	.nav>li>a{
		padding: 5px 35px;
		margin-bottom: 5px;
	}
	.footer_nav{
		display: none;
	}
	.info{
		border: none;
	}
	main{
		min-height: 100px;
	}
	.slide_desc::after{
		font-size: 20px;
		left: 10px;
	}
	.companies{
		display: none;
	}
	.first_news a{
		position: absolute;
		bottom: 0;
		right: 10px;
		padding: 5px;
		color: #fff;
		text-decoration: none;
	}
	.centered-btns_nav.next {
		left: auto;
		background-position: right top;
		right: 15px;
	}
	.centered-btns_nav {
		z-index: 3;
		position: absolute;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		top: 60%;
		left: 15px;
		opacity: 0.7;
		text-indent: -9999px;
		overflow: hidden;
		text-decoration: none;
		height: 61px;
		width: 38px;
		background: transparent url("themes.gif") no-repeat left top;
		margin-top: -45px;
	}
	.caption{
		font-size: 11px;
	}
}
@media only screen and (max-width : 768px){
	.nav>li>a{
		margin-bottom: 5px;
	}
	.footer_nav{
		display: none;
	}
	.info{
		border: none;
	}
	.slide_desc::after{
		font-size: 20px;
		left: 10px;
	}
	.companies{
		display: none;
	}
}
@media only screen and (max-width : 1024px){
	.logo a>span{
		font-size: 16px;
	}
	.nav>li>a{
		padding: 10px 20px;
	}
	.footer_nav .nav{
		margin-bottom: 55px;
		margin-left: 25px;
	}
	.footer_nav .nav>li>a{
		padding: 10px 10px;
	}
	.nav-pills>li+li{
		margin-left: -4px;
	}
}